<style>
  h1 {text-align: center;
  }
  body {
      background-image: url('/static/images/carlist.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: rgba(255,255,255,0.5);
      background-blend-mode: lighten;
  }
</style>



<table style="width:30%">
    <tr>
      <th>Car</th>
      <th>brandID</th>
      <th>overallrating</th>
    </tr>

    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
  </table>
