<style>
  h1 {text-align: center;
  }
  body {
      background-image: url('/static/images/carlist.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: rgba(255,255,255,0.6);
      background-blend-mode: lighten;
  }
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
</style>






<table style="width:30%">
  <tr>
    <th>Car</th>
    <th>Brand</th>
    <th>overallrating</th>
  </tr>

  <tr>
    <td>CR-V</td>
    <td>Honda</td>
    <td>8.8</td>
  </tr>
  <tr>
    <td>CX-5</td>
    <td>Mazda</td>
    <td>8.8</td>
  </tr>
</table>